<div class="container">
	<div class="well box-shadow">
	    <div class="row col-12">
	    	<h3>About Me</h3>
	    </div>
	    <div class="row">
			<div class="col-6 col-left">
			    <h4>個人資料： </h4>
			    <ul class="inner-container">
			        <li>姓名：鄭懿真</li>
			    	<li>生日：1987/7/17</li>
			    	<li>最高學歷：國立嘉義大學農藝學系</li>
			    </ul>
				<h4>經歷： </h4>
				<ul class="inner-container">
			        <li>蘭花場的國外貿易員＆生產管理員</li>
			    	<li>課後輔導老師</li>
			    	<li>PADI合格潛水員</li>
			    	<li><p>
			    	大學畢業後，先後在兩個蘭花場擔任國貿員及生管專員。除了平常與國外客戶的書信往來外，也曾接待過從美國來台參訪的客戶。也因為生產管理這份工作，讓自己對於各種行程的規劃，更加強了架構的概念。所以本身是一個非常有計畫性的人。
			    	</p></li>
			    </li>
			    </ul>
				<h4>為何想申請這份工作： </h4>
				<ul class="inner-container">
					<li><p>
					我非常熱愛旅遊，也熱愛台灣，台灣不管是陸地上，還是水底下，都美得令人心醉！<br/>
					第一次出遠門是在國中時期，和朋友兩人自行規劃的台中、南投自由行。依稀記得那第一次出遠門的雀躍，及在旅程中遭遇到的不確定性，和之後將困難解決後得到的快樂，是至今仍熱愛旅遊的原因之一。另一原因是，我喜愛在旅遊途中，不管是和熟人的相約，還是和陌生人的不期而遇，大家的熱情、隨和及愛分享，都讓我的內心充滿無法再膨脹的快樂。<br/>
					貴公司的職缺，真的超棒！能夠將自己喜愛的事情，介紹給更多的人一起參與，我覺得沒有再比這件事情更讓人開心的了！所以希望能夠有機會，與各位一起讓台灣被更多人看見及喜愛！
					</p></li>
				</ul>
				<h4>未來規劃： </h4>
				<ul class="inner-container">
					<li><p>
						目前在自學Ruby on Rails，已能夠做出簡易的部落格，正努力地朝向專業的網頁開發者前進。對於貴公司的後端工程師也很有興趣，若是將來能力許可，也非常希望能夠加入網頁製作這塊。期許三年內的自己，能早上在海裡，下午在電腦桌前寫code的IT人員。
					</p></li>
				</ul>
			</div>
			<div class="col-6 col-right">
				<%= image_tag'diving.png', :width => 400, :height => 300 %>
				<p><small>*拍攝於墾丁合界，從五米穿過洞穴直接下沉至十三米的水深，然後這趟潛完，回到水面後，直接流鼻血，是一個挺有趣的經驗。</small></p>
			</div>
		</div>
	</div>
</div>

