<div class="container">
	<div class="well box-shadow">
	    <div class="row col-12">
	    	<h3>Contact with Me</h3>
	    	<div class="row col-12">
		    	<ul class="contact-inner">
		    		<li>&#9742;<span></span></li>
		    		<li>&#128237;<span></span></li>
		    		<li>&#127968;<span></span></li>
		    		<li><%= link_to image_tag('github.ico'), 'https://github.com/kaycheng' %><span><%= link_to 'Github/Kaycheng', to: 'https://github.com/kaycheng' %></span></li>
		    	</ul>
	    	</div>
	    </div>
	</div>
</div>
