/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";


/* ########## navbar default ########## */
nav {
	line-height: 1.8em;
	position: fixed;
	top: 0px;
    left: 0px;
}

.navbar-brand {
	font-weight: 800;
    text-transform: uppercase;
    font-size: 1.7em;
    margin-left: 16px;
}

nav div ul li a {
	color: #fff !important;
	font-weight: bold;
	font-size: 1.3em;
	padding-right: 20px;
	text-transform: uppercase;
}

nav div ul li a:hover {
	color: black !important;
}

.nav-link {
	margin-left: 1.3em;
}

.nav-right {
	margin-right: 1.3em;
}

/* ########## pages ########## */
div.well {
	margin: 25px 0 40px 0;
	max-width: 100%;
}

div.box-shadow {
    box-shadow: 0 0 10px 2px rgba(66,66,71,0.5);
    border-radius: 7px;
}

h3 {
	padding: 20px 20px 0 20px;
	float: right;
	border-bottom: 1.5px solid black;
}

h4 {
	padding-top: 10px;
}

h5 {
	display: block;
	margin-left: 10%;

	
}

.col-6 {
    max-width: 100%;
}

ul.inner-container {
	display: block;
	list-style: none;
	margin: auto;
}

ul.contact-inner li {
	display: block;
	list-style: none;
	margin: auto;
	font-size: 1.5em;
}

.col-left {
	display: block;
	margin-left: 0;
    padding: 10px 20px 10px 30px;
}

.col-right {
	display: inline-block;
	margin: 0;
    max-width: 100%;
    height: auto;
	padding: 20px;
    float: right top;
}

.col-right p {
	color: #666;
	padding-right: 20px;
}

footer {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 4%;
	border-top: 1.5px solid #666;

}


/* ########## mobile ########## */
@media screen and (max-width: 765px) {
    
	.col-left {
	    display: table;
	    margin: 5% 10%;
        padding: 10px 20px 10px 30px;
    }
    .col-left li p {
    	display: block;
    	padding-right: 25%;
    }
    .col-right {
	    display: block;
	    margin: auto;
        max-width: 100%;
        height: auto;
	    padding: 5%;
    }
    .col-right p {
    	display: block;
    	padding-right: 5%;
    }

    hr {
    	margin-right: 25%;
    }
}
